/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}
/* Genaral */
.large-container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

.container {
    width: 60%;
    max-width: 1100px;
    margin: 0 auto;
}


body {
    font-family: 'Fredoka', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/* Layout */

.flex {
    display: flex;
}

.justify-content {
    justify-content: center;
}

li {
    list-style-type: none;
}


h2 {
    font-size: 2.5rem;
    font-weight: 600;
}

h3 {
    font-size: 1.5rem;
}

hr {
    width: 50px;
}

p {
    font-size: .8rem;
}

/* HEADER */
/* Nav bar */
.nav-bar {
    position: fixed;
    z-index: 999;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
    height: 80px;
}

.logo {
    width: 10%;
    padding: 0 15px;
}

.price-plane {
    width: 40%;
    padding: 0 20px;
}

.price-plane li {
    display: inline-block;
    margin-right: 20px;
    text-align: left;
    font-size: 1rem;
}

.price-plane a {
    text-decoration: none;
    color: black;
}

.account {
    flex-grow: 1;
    text-align: right;
}

.account li {
    display: inline-block;
    margin-right: 20px;
    font-size: 1rem;
}

.account a {
    text-decoration: none;
    color: black;
}

.sign a {
    display: inline-block;
    color: white;
    background-color: #0061FF;
    height: 40px;
    width: 60px;
    line-height: 40px;
    text-align: center;
    transition: all .4s;
}

.sign:hover a {
    opacity: .5;
}


/* Jumbotron */
.first-section {
    margin-top: 90px;
    padding: 20px 0;
    background-color: #B4D0E7;
}

.title-header {
    gap: 10px;
    position: relative;
    top: 100px;
    left: 0;
}

h1 {
    text-align: center;
    font-weight: 800;
    font-size: 3rem;
}

.description {
    width: 35%;
}

.description-link {
    text-decoration: none;
    background-color: #0061FF;
    color: white;
    height: 45px;
    width: 220px;
    display: inline-block;
    line-height: 45px;
    text-align: center;
    margin: 20px 0;
}

.description-link:hover {
    opacity: .8;
}

.description div {
    padding: 8px 0 60px;
    font-size: .9rem;
}

.description i {
    font-size: 3rem;
}

.img-1 {
    width: 65%;
}


/* MAIN */

/* card section */
.second-section {
    padding: 100px 0;
}

.billing {
    padding: 40px 0;
    font-size: .8rem;
}

/* Card */
.row {
    justify-content: space-between;
}
/* Column */
.col {
    width: 33%;
    border: 1px solid rgba(0, 0, 0, .1);
}

.single {
    padding: 8px 0;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    font-size: .8rem;
}

.card {
    padding: 20px;
}

.price {
    font-size: .8rem;
    padding: 10px 0 6px;
}

.month {
    font-size: .8rem;
    color: rgba(0, 0, 0, .6);
}

.informations {
    font-size: .8rem;
    padding-top: 10px;
}

.informations li {
    padding: 8px 0;
}

.buy {
    font-size: .8rem;
    padding: 20px 0;
}

.free {
    text-decoration: none;
    background-color: #0061FF;
    color: white;
    height: 45px;
    width: 180px;
    display: inline-block;
    line-height: 45px;
    text-align: center;
}

.free:hover {
    opacity: .8;
}

.buy div  {
    padding: 10px 0;
}

.purchase-plan {
    padding: 20px 0;
}

.purchase-plan li {
    padding: 10px 0;
    font-size: .8rem;
}

.purchase-plan i {
    color: blue;
}

/* Final-col */
.final-col {
    width: 100%;
    margin-top: 10px;
    border: 1px solid rgba(0, 0, 0, .1);
}

.ufficio-vendite {
    padding: 10px 20px;
    gap: 20px;
}

.contact-informations {
    padding: 10px 0 30px;
}

.contact a {
    text-decoration: none;
    background-color: #0061FF;
    color: white;
    height: 45px;
    width: 250px;
    display: inline-block;
    line-height: 45px;
    text-align: center; 
}

.contact:hover a {
    opacity: .8;
}

/* Partners section */
.third-section {
    padding: 20px 0;
}

.search {
    gap: 10px;
}

.img-2 {
    width: 60%;
}

.partner {
    width: 40%;
    padding: 40px 20px;
}

.partner p {
padding: 15px 0 25px;
}

.partner-search {
    font-size: .9rem;
    text-decoration: none;
    background-color: white;
    color: black;
    border: 1px solid rgba(0, 0, 0, .6);
    height: 45px;
    width: 180px;
    display: inline-block;
    line-height: 45px;
    text-align: center; 
}

.partner-search:hover {
    background-color: #0061FF;
    color: white;
}

/* fourth section */
.fourth-section {
    padding: 20px 0;
}

.operation h2 {
    padding: 50px 0 20px;
}

.row-2 {
    gap: 10px;
    flex-wrap: wrap;
}

.col-2 {
    width: calc((100% / 3) - (20px /3));
}

.col-2 h3 {
    padding: 20px 0;
}
/* Client Section */
.section {
    padding: 60px 0;
}

.clients h2 {
    padding: 30px 0;
    width: 80%;
}

/* icons section */
.fifth-section {
    /* debug */
    height: 400px;
    background-color: lightcyan;
    border: 2px solid black;
}

.company {
    width: 30%;
    flex-wrap: wrap;
    /* debug */
    border: 2px solid black;
}

.designit {
    width: 40%;
    /* debug */
    border: 2px solid black;
}

.grid {
    width: calc(100% / 2);
    /* debug */
    border: 1px solid black;
}

.logo-designit {
    position: relative;
    background-color: #D6EBD3;
}

.logo-designit img {
    position: absolute;
    top: 85px;
    left: 40px;
    width:100px;
}

.arizona {
    background-color: #61082B;
}

.florida {
    background-color: #0093CE;
}

.bicycle {
    background-color: #FF1C1C;
}



/* sixth section */
.sixth-section {
    padding: 50px 0;
    background-color: #B4D0E7;
}

.business {
    width: 60%;
    padding: 0 50px 0 0;
}


.trial a {
    width: 40%;
    font-size: .8rem;
    text-decoration: none;
    background-color: white;
    color: black;
    height: 35px;
    width: 160px;
    display: inline-block;
    line-height: 35px;
    text-align: center; 
}

.trial:hover a {
    background-color: #0061FF;
    color: white;
}


/* requests section */
.seventh-section {
    padding: 40px 0;
}


.requests h2 {
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .6);
}

.requests li {
    padding: 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .6);
}

.requests-list {
    justify-content: space-between;
}


/* FOOTER */
.footer {
    padding: 60px 0;
    background-color: black;
}

.footer li {
    color: white;

}

.footer-section {
    width: 100%;
    gap: 10px;
}

.footer-col {
    width: calc(100% / 5);
}

.footer-dropbox li {
    padding: 10px 0;
    font-size: .9rem;
}

.footer-dropbox a {
    text-decoration: none;
    color: white;
}
